<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/include/head :: head"></div>
    <title>상품 수정</title>
</head>
<body>
<div th:replace="/include/header.html :: header"></div>
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-insert">
                    <div class="widget personal-info">
                        <h1 class="mb-5 text-center"> 상품 수정 </h1>
                        <form th:action="@{/product/edit}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="pno" id="pno" th:value="${detail.pno}">
                            <!-- 상품명 -->
                            <div class="form-group">
                                <label for="pname"> 상품명 </label>
                                <input type="text" class="form-control" id="pname" name="pname" th:value="${detail.pname}" maxlength="100" required>
                            </div>
                            <!-- 카테고리 -->
                            <div class="form-group">
                                <label> 카테고리 </label>
                                <select name="cate" id="cate" class="collapseOne w-100" style="border: 1px solid #ced4da; border-radius: 5px; padding: 8px;" th:value="${detail.cateName}">
                                    <th:block th:each="cate : ${cateList}">
                                        <option th:value="${cate.cate}" th:text="${cate.cateName}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <!-- 가격 -->
                            <div class="form-group">
                                <label for="price"> 가격 </label>
                                <input type="text" class="form-control" id="price" name="price" th:value="${detail.price}" maxlength="20" required>
                            </div>
                            <!-- 거래지역 -->
                            <div class="form-group">
                                <label for="proaddr"> 거래 지역 </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="proaddr" name="proaddr" th:value="${detail.proaddr}" required>
                                    <button type="button" id="post_btn" onclick="findAddr()" class="btn btn-outline-primary mb-2" style="width:35%; display:inline-block;">주소 검색</button>
                                </div>
                            </div>
                            <!-- 상품 내용 -->
                            <div class="form-group">
                                <label for="content"> 상품 설명 </label>
                                <textarea name="content" id="content" cols="100" rows="8" maxlength="1000" >[[${detail.content}]]</textarea>
                            </div>
                            <!-- 사진 첨부 -->
                            <div class="form-group">
                                <label for="upfile"> 사진 첨부 </label>
                                <input type="file" class="file-input" name="upfile" id="upfile" multiple="multiple">
                                <span class="file-cta">
                                    <span class="file-icon mb-0">
                                        <i class="fas fa-upload mb-0"></i>
                                    </span>
                                    <span class="file-label mb-0">
                                        파일 선택
                                    </span>
                                </span>
                                <span class="file-name">선택된 파일이 없습니다.</span>
                                <div>
                                    <span class="file-label mb-0">
                                    업로드 된 이미지 :
                                </span>
                                    <th:block th:each="img, iterStat : ${detail.fileDataList}">
                                        <span th:class="'imgName'+${iterStat.index}">[[${img.getOriginName}]]<i class="fa fa-times-circle imgDelete" style="color: #333; background: none;" aria-hidden="true" th:data-value="${img.fileNo}"></i></span>
                                    </th:block>
                                </div>
                            </div>
                            <!-- Submit button -->
                            <button class="btn btn-transparent">상품 등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
<script>
    // 파일 입력 요소 변경 시 파일 이름 표시
    $(".file-input").on("change", () => {
        let fileName = '';
        let fileLength = $(".file-input")[0].files.length;
        if(fileLength > 1) {
            fileName = fileLength + "개의 파일";
        } else {
            fileName = $(".file-input").val().split("\\").pop();
        }
        $(".file-name").text("\t 선택한 파일 : " + fileName);
    });
    <!-- 주소 -->
    function findAddr(){
        new daum.Postcode({
            oncomplete:function(data){
                console.log(data);
                var bname = data.bname;

                document.getElementById("proaddr").value = bname;
            }
        }).open();
    }

</script>
<script th:inline="javascript">
    $(document).on("click", ".imgDelete", function() {
        var fileNo = $(this).data("value"); // 이미지의 fileNo 가져오기
        var indexToDelete = $(this).closest('span').attr('class').match(/imgName(\d+)/)[1]; // 클래스명에서 인덱스 추출

        $.ajax({
            type: "GET",
            url: "/product/imageDelete",
            data: { fileNo: fileNo },
            dataType: "json",
            success: function(res) {
                console.log("성공");
                $(".imgName" + indexToDelete).remove(); // 해당 인덱스의 요소를 삭제
            },
            error: function(err) {
                console.log("Console:", err);
            }
        });
    });
</script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<th:block th:replace="/include/footer.html :: footer"></th:block>
<th:block th:replace="/include/script :: script"></th:block>

</body>
</html>