<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 폼</title>
    <th:block th:replace="include/head :: head" ></th:block>
</head>
<body>
    <div class="container">
        <h2>보드 등록</h2>
        <form th:action="@{/recomment/Add}" method="post">
            <div>
                <input type="text" name="mem_id" th:value="${mem.id}">
            </div>
            <div>
                <label th:for="comment">내용</label>
                <textarea name="comment" id="comment" class="textarea" rows="8" cols="100" maxlength="200" required></textarea>
            </div>
            <div>
                <button type="submit">등록</button>
            </div>
        </form>
    </div>

</body>
</html>