<th:block th:fragment="head2">
    <!-- 파비콘 설정 :32X32 자주 사용 -->
    <!-- 표준 파비콘 -->
    <link rel="shortcut icon" th:href="@{/images/favicon/favicon-16x16.png}">
    <!-- 애플 계열 모바일 -->
    <link rel="apple-touch-ico-precomposed" th:href="@{/images/favicon/apple-touch-icon.png}">

    <!-- 파이어폭스, 오페라 또는 구형 크롬/사파리 -->
    <link rel="icon" th:href="@{/images/favicon/favicon-16x16.png}" sizes="16x16">
    <link rel="icon" th:href="@{/images/favicon/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" th:href="@{/images/favicon/favicon-48x48.png}" sizes="48x48">
    <link rel="icon" th:href="@{/images/favicon/favicon-64x64.png}" sizes="64x64">
    <link rel="icon" th:href="@{/images/favicon/favicon-96x96.png}" sizes="96x96">

    <!-- classimax-bootstrap  -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-slider.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/slick.css}" rel="stylesheet">
    <link th:href="@{/css/slick-theme.css}" rel="stylesheet">
    <link th:href="@{/css/nice-select.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/sub.css}" rel="stylesheet">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-slider.js}"></script>
    <script th:src="@{/js/tether.min.js}"></script>
    <script th:src="@{/js/jquery.raty-fa.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>


    <!--  CLEditor -->
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/cleditor/jquery.cleditor.js}"></script>
    <link rel="stylesheet" th:href="@{/js/cleditor/jquery.cleditor.css}"/>

</th:block>