<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="include/head :: head" ></th:block>
    <th:block th:replace="include/head2 :: head2" ></th:block>
    <title>TSellpa::마이페이지</title>
</head>
<body class="myPage">
<th:block th:replace="include/header :: header" ></th:block>

    <div class="container-fluid">
        <div class="row justify-content-md-center my-5">
            <div class="col-8">
                <div class="row">
                    <div class="col-2 p-2">
                        <div class="d-flex flex-column align-items-center justify-content-center border left_side">
                            <div class="left_top">
                                <p>마이페이지</p>
                            </div>
                            <ul class="my-2" style="width:100%;">
                                <li><a th:href="@{/member/myPage}" class="active px-4 py-2">나의 정보</a></li>
                                <li><a th:href="@{/member/Reservation}" class="px-4 py-2">나의 예약정보</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-10 p-2">
                        <div class="d-flex flex-column align-items-center justify-content-center right_side">
                            <h5 class="my-4" style="font-size:2.5em;font-weight:600;">회원정보</h5>

                            <div class="container px-5">
                                <table class="table table-bordered mx-3">
                                    <colgroup>
                                        <col style="width:20%;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th class="text-center">이름</th>
                                        <td>[[${member.name }]]</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">아이디</th>
                                        <td>[[${member.id }]]</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">비밀번호</th>
                                        <td>비밀번호 변경</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">전화번호</th>
                                        <td>[[${member.tel }]]</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">이메일</th>
                                        <td>[[${member.email }]]</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">주소</th>
                                        <td>[[${member.postcode }]] [[${member.addr1}]] [[${member.addr2}]]</td>
                                    </tr>
<!--                                    <tr>-->
<!--                                        <th class="text-center">생일</th>-->
<!--                                        <td>${member.birth }</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <th class="text-center">포인트</th>-->
<!--                                        <td>${member.pt }</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <th class="text-center">등급</th>-->
<!--                                        <td>-->
<!--                                            <c:choose>-->
<!--                                                <c:when test="${member.grade == 1 }">선생님</c:when>-->
<!--                                                <c:when test="${member.grade == 2 }">회원</c:when>-->
<!--                                                <c:otherwise>관리자</c:otherwise>-->
<!--                                            </c:choose>-->
<!--                                            <c:if test="${member.grade == 2 }"> - -->
<!--                                                <c:if test="${!canUpgrade }"><span style="color:var(&#45;&#45;main-color);">선생님 신청 진행 중</span></c:if>-->
<!--                                                <c:if test="${canUpgrade }"><a href="${path }/user/mypageChangeGrade.do">선생님 신청하기</a></c:if>-->
<!--                                            </c:if>-->
<!--                                        </td>-->
<!--                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a th:href="@{/member/myPageEdit}" class="btn btn-primary px-3 py-2 my-4 mr-2">수정하기</a>
                                <button type="button" onclick="eventremove()" class="btn btn-success px-3 py-2 my-4"> 탈퇴하기 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<th:block th:replace="include/footer :: footer" ></th:block>


</body>
<script>
    function eventremove(){
        if(confirm("탈퇴하시겠습니까?")){
            location.href="/member/remove?id=[[${member.id }]]"
        }
    }
</script>
</html>