<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>Tsellpa : 관리자</title>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="content-wrapper">
                <h1>공지사항 목록</h1>
                <div th:replace="/include/searchList.html :: fragment-search('/board/noticeList', 'title:제목,content:내용,author:작성자')"></div>
                <table class="table text-center" th:if="${not #lists.isEmpty(boardList)}">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board, about : ${boardList}">
                        <td th:text="${about.count}"></td>
                        <td><a th:text="${board.title}" th:href="@{/board/noticeGet(boardNo=${board.boardNo})}" /></td>
                        <td th:text="${board.author}"></td>
                        <td th:text="${#dates.format(board.createAt, 'yyyy-MM-dd')}"></td>
                        <td th:text="${board.visited}"></td>
                    </tr>
                    </tbody>
                </table>
                <th:block th:if="${not #lists.isEmpty(boardList)}"><div th:replace="/include/pagination.html :: fragment-pagination('/board/noticeList')"></div></th:block>
                <div th:if="${#lists.isEmpty(boardList)}" class="text-center">목록이 비어있습니다.</div>
                <a th:href="@{/board/noticeWrite}" class="btn btn-primary">추가</a>
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>

</html>

