<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="include/head :: head" ></th:block>
    <title>타이틀</title>
</head>
<body>
<th:block th:replace="include/header :: header"></th:block>

<!--===========================================
=            Popular deals section            =
============================================-->
<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>인기 상품을 추천해드려요👀</h2>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>-->
                </div>
            </div>
        </div>

        <div class="product-grid-list">
            <div class="row mt-30">
                <div class="col-lg-4 col-md-6">
                    <!-- product card -->
                    <div class="product-item bg-light">
                        <div class="card">
                            <div class="thumb-content">
                                <!-- <div class="price">$200</div> -->
                                <a href="single.html">
                                    <!--th:src="@{/images/heart_before.png}"-->
                                    <!--th:src="images/products/products-1.jpg"-->
                                    <img class="card-img-top img-fluid" th:src="@{/images/classimage/products/products-1.jpg}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><a href="single.html">11inch Macbook Air</a></h4>
                                <ul class="list-inline product-meta">
                                    <li class="list-inline-item">
                                        <a href="single.html"><i class="fa fa-folder-open-o"></i>Electronics</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="category.html"><i class="fa fa-calendar"></i>26th December</a>
                                    </li>
                                </ul>
                                <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>-->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<th:block th:replace="include/footer :: footer"></th:block>
<th:block th:replace="/include/script :: script"></th:block>
<script th:src="@{/js/slick.min.js}"></script>

</body>
</html>