<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="include/head :: head" ></th:block>
    <title>메인 페이지</title>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>

<table>
    <tbody>
        <tr>
            <th>책 제목</th>
            <td th:utext="${notice.title}"></td>
            <th>책 내용</th>
            <td th:utext="${notice.content}"></td>
            <th>책 저자</th>
            <td th:utext="${notice.author}"></td>
            <th>날짜</th>
            <td th:utext="${notice.resdate}"></td>
            <th>파일</th>
            <img th:src="@{/upload/} + ${notice.img}" width="400" height="225">
            <br>
            <a th:href="@{/upload/} + ${notice.img}" th:download="${notice.img }" >[[${notice.img }]]</a>

    </tbody>
</table>
<ul>
    <li>제목 : <span th:utext="${notice.title}"></span></li>
    <li>내용 : <span th:utext="${notice.content}"></span></li>
</ul>

<div>
    <a th:href="@{/notice/Del(no=${notice.no})}">삭제하기</a>
</div>
<th:block th:replace="/include/footer :: footer"></th:block>

</body>
</html>