<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="include/head :: head" ></th:block>
    <th:block th:replace="include/head2 :: head2" ></th:block>
    <title>메인 페이지</title>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>

<table>
    <tbody>
        <tr>
            <th>제목</th>
            <td th:utext="${notice.title}"></td>
            <th>내용</th>
            <td th:utext="${notice.content}"></td>
            <th>아이디</th>
            <td th:utext="${notice.author}"></td>
            <th>등록 날짜</th>
            <td th:utext="${notice.resdate}"></td>
            <th>파일</th>
            <img th:src="@{/upload/} + ${notice.img}" width="400" height="225">
            <br>
            <a th:href="@{/upload/} + ${notice.img}" th:download="${notice.img }" >[[${notice.img }]]</a>

    </tbody>
</table>
<ul>
    <li>제목 : <span th:utext="${notice.title}"></span></li>
    <li>내용 : <span th:utext="${notice.content}"></span></li>
</ul>

<div>
    <th:block th:if="${session.sid == notice.getAuthor()}">
    <a th:href="@{/notice/Edit(no=${notice.no }) }">수정하기</a>
    <button type="button" onclick="eventremove()" class="btn btn-success px-3 py-2 my-4"> 삭제하기 </button>
    </th:block>
</div>
<th:block th:replace="/include/footer :: footer"></th:block>
<script>
    function eventremove(){
        if(confirm("삭제하시겠습니까?")){
            location.href="/notice/Del?no=[[${notice.no }]]"
        }
    }
</script>
</body>
</html>