<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="include/head :: head" ></th:block>
    <title>메인 페이지</title>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>

<table>
    <thead>
        <tr>
            <th>책 제목</th>
            <th>책 내용</th>
            <th>책 저자</th>
            <th>날짜</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="notice : ${noticeList}">
        <td ><a th:href="@{/notice/Get(no=${notice.no})}" th:text="${notice.title}" ></a></td>
        <td th:text="${notice.content}"></td>
        <td th:text="${notice.author}"></td>
        <td th:text="${notice.resdate}"></td>
        <td><a th:href="@{/notice/Del(no=${notice.getNo()})}">삭제하기</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/notice/Add}">공지등록</a>
</div>
<th:block th:replace="/include/footer :: footer"></th:block>

</body>
</html>